/*Font selector stuff */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Aladin|Alex Brush|Almendra Display|Astloch|Space Mono|Spirax|Bigshot One|BioRhyme|Bonbon|Cherry Swash|Stalemate|Cinzel Decorative|Clicker Script|Cookie|Cormorant Upright|Ewert|Pattaya|Sacramento|Redressed|Diplomata|Elsie Swash Caps|Cutive|Damion|Dancing Script|Amita|Antic Didone|Asset|Raleway|Aclonica|Roboto|Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Montez|Lobster|Josefin+Sans|Shadows+Into+Light|Pacifico|Amatic+SC:700|Orbitron:400,900|Rokkitt|Righteous|Dancing+Script:700|Bangers|Chewy|Sigmar+One|Architects+Daughter|Abril+Fatface|Covered+By+Your+Grace|Kaushan+Script|Gloria+Hallelujah|Satisfy|Lobster+Two:700|Comfortaa:700|Cinzel|Courgette");
#font-select{
  font-size: 22px;
}
/*Handle Print page*/
@media print {
  @page {
    margin:0 -6cm
    size: landscape
  }
  .no-print, .no-print *
  {
    display: none !important;
  }
  
  .full-page-print,img{ 
    max-height: 100%;
    width:100%;
  }

  *:focus {
    outline: none;
  }

}


/*@element '#field' {
  .textDiv {
    width: 50px;
    background: red;
    position: absolute;
    top: eval('offsetTop + offsetHeight')px;
    left: eval('offsetLeft + offsetWidth')px;
  }
}
*/
.full-page-print {
  /*page-break-before:always;*/
  /*width: 100%;*/
  /*float: left;*/
  /*text-align: center;*/

  /*display: block;*/
  page-break-after:always;
  page-break-inside: avoid;  

}

#field {/*Initial stuff*/
  background-color: white;
  /*background-color: #00FF00;*/
  position: relative;
  overflow: hidden;  
}

.textDiv {
  /*position: relative; is positioned relative to its normal position.*/
  /*position: absolute; is positioned relative to the nearest positioned ancestor
  (instead of positioned relative to the viewport, like fixed).*/
  /*
  https://discourse.wicg.io/t/position-an-element-relatively-to-another-element-from-anywhere-in-the-dom/968/9
  > Not much support yet
  position: element(#rootElem)
  */
  z-index: 99;
  max-width: 15%;
  max-height: 5%;
  position: absolute;
  /*The animation line: */
  transition: all 0.3s;
  color: #8329543; /*TODO: Make this selectible by user*/
  background: transparent;
}

/*https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome*/
/*textarea:focus, input:focus{
  outline: none;
}*/

/*https://stackoverflow.com/questions/6831482/contenteditable-single-line-input*/
[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
} 
[contenteditable="true"].single-line br {
  display:none;
}

[contenteditable="true"].single-line * {
  /*single line part*/
  display:inline;
  white-space:nowrap;
}

.certiInput {
  width: 20ch;
  border: 0 none transparent;
}
.certiText {
  position: absolute;
  font-family: Verdana;
}

.upload-btn-wrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
.btn-tiny {
  /*use class="btn btn-tiny"*/
  padding: 4px 5px;
  min-width: 35px;
  border-radius: 5px;
  font-size: 15px;
}
.selected {
  background-color: yellow;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}